<app-header></app-header>
<div class="banner-3">
	<div class="container">
		<h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
			TMS- Package List</h1>
	</div>
</div>
<div class="succWrap"><strong>{{success}}</strong></div>
<div class="rom-btm">
	<div class="col-md-3 room-left wow fadeInLeft animated" data-wow-delay=".5s">
		<img src="/src/assets/images/{{data.packageImage}}" class="img-responsive" width="120%" height="120%">
	</div>
	<form [formGroup]="form" (ngSubmit)="book()">
		<div class="col-md-6 room-midle wow fadeInUp animated" data-wow-delay=".5s">
			<h4>Package Name: {{data.packageName}}</h4>
			<h4>Package Type: {{data.packageType}}</h4>
			<h4>Package Location: {{data.packageName}}</h4>
			<h4>Package Feature: {{data.packageFeatures}}</h4>
			<div class="bnr-right">
				<label class="inputLabel">From</label>
				<input class="date" id="datepicker1" type="date" placeholder="dd-mm-yyyy" formControlName="fromdate" required="">
			</div>
			<div class="bnr-right">
				<label class="inputLabel">To</label>
				<input class="date" id="datepicker1" type="date" placeholder="dd-mm-yyyy" formControlName="todate" required="">
			</div>
		</div>
		<div class="col-md-3 room-right wow fadeInRight animated" data-wow-delay=".5s">
			<h5>USD</h5>{{data.packagePrice}}
			<input type="submit" class="btn-primary btn" value="Book">
		</div>
	</form>
	<div class="clearfix"></div>
</div>